@charset "UTF-8";

:root {
    --cor0: #f5d6c7;
    --cor1: #f6c0a5;
    --cor2: #cc8360;
    
    --corti0: #d1d1f5;
    --corti1: #b8bada;
    --corti2: #4548b6;
    
    --corconf0: #DACCBC;
    --corconf1: #D5B263;
    --corconf2: #9F7F55;
    /*
    --cor3: #f8834d;
    --cor4: #E35F22;
    --cor5: #a64519;
    --cor6: #009182; /*complem da cor1
    --corti3: #15198C;
    --corti4: #0A0B40;
    --corconf3: #7D4B31;
    --corconf4: #572611;
    */
    --cornut0: rgba(245, 208, 208);
    --cornut1: rgb(243, 61, 61);
    --cornut2: rgb(240, 207, 207);
    --cornut3: red;
    --cornut4: rgb(83, 5, 5);

     

}
* {
    margin: 0px;
    padding: 0px;
}

body.ind {
    background-color: var(--cor0);
}

img {
    opacity: 50%;
}

header {
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header.ind {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
}

body.tec {
    background-color: var(--corti0);
}

header.tec {
    background-image: linear-gradient(to bottom, var(--corti1), var(--corti2) )
}

body.conf {
    background-color: var(--corconf0);
}

header.conf {
    background-image: linear-gradient(to bottom, var(--corconf1), var(--corconf2));
}

body.nut {
    background-color: var(--cornut0);
}
header.nut {
    background-image: linear-gradient(to bottom, var(--cornut1), var(--cornut2));
}


nav {
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);

}
    
section {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article.loc {
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    width: 70vw;
    height: 200px;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
}

article#bor0, #bor2, #bor4 {
    box-shadow: 2px 0px 5px rgb(102, 67, 67);
}

article#bor1, #bor3 {
    box-shadow: -2px 0px 5px rgb(102, 67, 67);
}

h1#ti, #conf, #pub {
    text-align: left;

}

h1#nut, #pat {
    text-align: right;
}


