<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confeitaria</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body class="conf">
    <div>
        <header>
            <h1>Delicato Chocolates</h1>
            <p>Confeitaria</p>
        </header>
        <nav>
            <a href="sobreConf.html">Sobre</a>
            <a href="contatoConf.html">Contato</a>
        </nav>
        <main>
            <section class="padrao" id="bis">
                <button type="button" onclick="evento()">
                    <h1>Biscoiteria</h1>
                    
                </button>
        
                <p>
                    Presenteie Amigos e Parentes.<br>
                    Com essas delícias de <br>
                    cookies e biscoitos. <br>
                    Feitos especialmente para você.
                </p>
             </section>
        
             <section class="normal">
                <h1>Bolos</h1>
                <p>
                    Que tal um café da tarde com bolo? <br>
                    Experimente essa delícia...
                </p>
        
            </section>
            <section class="padrao" id="pao">
                <h1>Pães</h1>
                <p>
                    Hummm. Pão quentinho.... <br>
                    Pães Caseiros de longa Fermentação <br>
                    e fermentação natural.
                </p>
            </section>
            <section class="normal" id="esp">
               <h1>Momentos Especiais</h1>
               <p>
                   Comemore a vida com <br>
                   bolos decorativos, <br>
                   feitos sob encomenda.
                </p>
            </section>
            <footer>
                Site criado por Nivia Alves
            </footer>
        
    </div>
       
    
    <script src="javascript.js"></script>
</body>
</html>