<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>
    <link rel="stylesheet" href="/static/slider.css">
</head>
<body class="conf">
    <header>
        <h1>Cookies e Biscoitos</h1>
    </header>
    <div class="box">
      <div class="box-image"><img src="/static/imagens/cookie10.jpg" alt="cookie1"></div>
      <div class="box-image"><img src="/static/imagens/cookie2.jpg" alt="cookie2"></div>
      <div class="box-image"><img src="/static/imagens/cookie3.jpg" alt="cookie3"></div>

    </div>
    <div class="bolinhas"></div>

    <script src="/static/javascript.js"></script>
   
</body>
</html>